<div class="main_chat">
  <div class="main_header">
    <div class="chatroom_name">hogefuga</div>
    <div class="destroy_chatroom">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="messages">
    <div class="message">
      <div class="message_info">
        <div class="name">Tom</div>
        <div class="date">2022/06/10(Fri) 14:20:30</div>
      </div>
      <div class="content">hello, world!</div>
    </div>
  </div>
  <div class="form">
    <div class="form-input">
      <input type="text" placeholder="type a message" class="form-text">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" class="submit-btn">
  </div>
</div>