<div class="side_bar">
  <div class="side_bar_header">
    <div class="user_name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="create_chat_link">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="rooms">
    <div class="room_name">
      <a href="#">chatroom1</a>
    </div>
  </div>
</div>